header{
    display: flex;
    justify-content: space-between;
    gap: 3%;
    /* From https://css.glass */
    background: rgba(85, 116, 49, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    align-items: center;
    z-index: 1;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 20%;
    gap: 3%;
    height: fit-content;
    padding: 5px;
}

.navlink{
    cursor: pointer;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    text-wrap: nowrap;
    border-bottom: 2px solid transparent;
    transition: .5s;
    color: rgb(54, 113, 185);
}

.navlink:hover{
    border-bottom-color: rgba(54, 113, 185, .5)
}