header{
    display: flex;
    justify-content: flex-end;
    /* From https://css.glass */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    align-items: center;
    background-color: var(--darkest-eucalyptus);
}
nav{
    display: flex;
    gap: 10px;
    height: fit-content;
    padding: 5px;
}

.navlink{
    cursor: pointer;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    text-wrap: nowrap;
    border-bottom: 2px solid transparent;
    transition: .5s;
    color: var(--beige);
}

.navlink:hover{
    border-bottom-color: var(--white);
}