header{
    display: flex;
    justify-content: space-between;
    /* From https://css.glass */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    align-items: center;
}
nav{
    display: flex;
    gap: 10px;
    height: fit-content;
    padding: 5px;
}

.navlink{
    cursor: pointer;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    text-wrap: nowrap;
    border-bottom: 2px solid transparent;
    transition: .5s;
    color: rgb(54, 113, 185);
}

.navlink:hover{
    border-bottom-color: rgba(54, 113, 185, .5)
}