

    .maincontent{
        position: relative;
        
    }

    
    
    .headofsite{
        color: aliceblue;
        
    }
    #headofsite{
        display: flex;
        flex-direction: column;
        background-color: rgb(136, 141, 116);
    }
    
    .tekst{
        
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 500px;
    }

    
    

    #overons{
        padding: 3rem;
        display: flex;
        gap: 2rem;
    }

    #overons div{
        width: 50%;
    }
    #overons p{
        font-size: 1em;
    }
    #profilepicsection{
        display: flex;
        justify-content: center;
    }
    .profile1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .profilepic{
        height: auto;
        width: 100%;
    }

    cite{
        font-size: 2em;
    }
    #tarieven{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 2rem;
        padding: 3rem;
    }

    .sessieblok{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .sessies{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 150px;
        width: 100%;
    }
    .sessie{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: fit-content;
        padding: 5px;
        color: rgb(34, 18, 128);
        border: 2px solid #c6ccd3;
        border-radius: 10px;
        height: fit-content;

    }

    .aanbodtegels{
        width: 100%;
        height: fit-content;
    }
    
    .aanbodtegeltitel{
        width: 100%;
        padding: 10px;
        height: fit-content;
        position: absolute;
        bottom: 0;
        text-align: center;
        border-radius: 10px;
        /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
    }
    
    .tab{
        margin-left: 20rem;
        text-decoration: underline;
    }
    
    .standaardtarieftext{
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    
    #blogs{
        padding: 3rem;
        height: fit-content;
        overflow-x: auto;
    }
    .slider-container{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        
    }
    .slider{
        display: flex;
        justify-content: space-around;
        align-items:center ;
        
    }
    .kaart-wrapper{
        display: flex;
        justify-content: flex-start;
        gap: 30px;
        height: fit-content;
    }
    
    .kaart{
        width: 550px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        gap: 5px;
        border: 5px solid #213956;
    }
    .image-wrapper{
        height: 90%;
        margin-bottom: 10px;
    }
    .article-image{
        height: 100%;
        width: 100%;
    }
    .title{
        font-size: 20px;
    }
    .author-image{
        height: 60px;
        width: 60px;
    }

    .author{
        height: 20%;
        display: flex;
        gap: 1rem;
    }

    .name-profession{
        display: flex;
        flex-direction: column;
    }