body{
    margin: 0;
}
header{
    background-image: url("../pocket-watch-1637396_1920.jpg");
    height: 100px;
}
#logo{
    position: relative;
}
nav{
    width: 11.2%;
    position: sticky;
    left:0;
    top: 100px;
    background: darkslateblue;
    overflow-x: hidden;
}
nav ul{
    padding-left: 0;
    margin: 0;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    border-bottom: solid black 2px;
    text-decoration: none;
    font-size: 25px;
    color: lightgoldenrodyellow;
    text-align: center;
    padding: 25px 8px 25px 8px;
}

nav ul li:hover{
    background: cadetblue;
}

p{
    width: 90%;
    margin-left: 1%;
}

#main-content{
    display: flex;
}